<%= link_to root_path, class: "refresh", method: :get do %><%= image_tag "refresh.png" %><% end %>
<% @elevators.each do |e| %>
  <% e.programm %>
  <div class="elevators-cntnr">
    <%= render 'call/form', elevator: e %><br/>
    <div class="informations-cntnr">
      <div>
        <p>FROM <span><%= e.position %></span></p>
        <p>TO <span><%= e.destination %></span></p>
      </div>
      <div class="calls-cntnr">
        <p><%= e.people_inside %> people(s) in the elevator.</p>
        <% if e.calls.uncomplete.blank? %>
          <p>No current calls</p>
        <% else %>
        <ul>
          <% e.calls.inside.uncomplete.each do |call| %>
            <li class="inside">People inside want to go <%= call.direction %> at n° <%= call.floor_request %>
            <%= link_to image_tag("bin.png"), [e, call], method: :delete %></li>
          <% end %>
        </ul><br/>
        <ul>
          <% e.calls.outside.uncomplete.each do |call| %>
            <li class="outside">People at floor <%= call.floor_request %> asked to go <%= call.direction %>
            <%= link_to image_tag("bin.png"), [e, call], method: :delete %></li>
          <% end %>
        </ul>
        <% end %>
      </div>
    </div>
    <div class="building-cntnr">
      <div class="building">
        <% e.stops.reverse_each do |ee| %>
          <div class="floor-cntnr">
            <div class="floor-num"><%= ee %></div>
            <% if ee == e.position %>
              <%= image_tag "elevator.png", class: "elevator" %>
            <% end %>
            <div class="people-cntnr">
              <% e.calls.outside.uncomplete.where(floor_request: ee).count.times do %>
                <%= image_tag "people1.png" %>
              <% end %>
              <% e.calls.inside.uncomplete.where(floor_request: ee).count.times do %>
                <%= image_tag "people1done.png" %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
